#section1{
    margin-left : 10%;
    margin-right :5%;
    width:40%;
    float: left;
    text-align: center;
}

.box{
    width :30%;
    padding-top: 10%;
    font-size : 20px;
    
    padding-bottom: 10%;
    float: left;
    border-style: solid;
    
    cursor:pointer;
    -webkit-transform:scale(1);
    -moz-transform:scale(1);
    -ms-transform:scale(1); 
    -o-transform:scale(1);  
    transform:scale(1);
    -webkit-transition:.3s;
    -moz-transition:.3s;
    -ms-transition:.3s;
    -o-transition:.3s;
    transition:.3s;
    position: relative;
}
#box5,#box23,#box59,#box77{
  background-color: rgb(255, 233, 233);}
#box14,#box32,#box50,#box68{
  background-color: rgb(255, 255, 255);}
#box41{
  background-color: rgb(255, 203, 203);}

.box:hover {
    -webkit-transform:scale(1.3);
    -moz-transform:scale(1.3);
    -ms-transform:scale(1.3);   
    -o-transform:scale(1.3);
    transform:scale(1.3);
    z-index:999;
    position: relative;
}

.con{
  height :40px;
  overflow-wrap: break-word;
}
#box41{
  font-size: 30px;
  font-weight: bold;
  z-index:998;
}

#box5.show{
    background: rgb(241, 241, 241);
    animation: translate5 0.7s forwards;
}
#box14.show{
    background: rgb(255, 255, 255);
    animation: translate14 0.7s forwards;
}
#box23.show{
    background: rgb(241, 241, 241);
    animation: translate23 0.7s forwards;
}
#box32.show{
  background: rgb(255, 255, 255);
  animation: translate32 0.7s forwards;
}
#box41.show{
  background: rgb(197, 197, 197);
}
#box50.show{
  background: rgb(255, 255, 255);
  animation: translate50 0.7s forwards;
}
#box59.show{
  background: rgb(241, 241, 241);
  animation: translate59 0.7s forwards;
}
#box68.show{
  background: rgb(255, 255, 255);
  animation: translate68 0.7s forwards;
}
#box77.show{
  background: rgb(241, 241, 241);
  animation: translate77 0.7s forwards;
}


  @keyframes translate5
  {
    0%,100%{
    }
  
    50%{
      -webkit-transform: translate(100%,100%);
      -ms-transform: translate(100%,100%);
      -o-transform: translate(100%,100%);
      transform:  translate(100%,100%);
    }
  }

  @keyframes translate14
  {
    0%,100%{
    }
  
    50%{
      -webkit-transform: translate(0%,100%);
      -ms-transform: translate(0%,100%);
      -o-transform: translate(0%,100%);
      transform:  translate(0%,100%);
    }
  }

  @keyframes translate23
  {
    0%,100%{
    }
  
    50%{
      -webkit-transform: translate(-100%,100%);
      -ms-transform: translate(-100%,100%);
      -o-transform: translate(-100%,100%);
      transform:  translate(-100%,100%);
    }
  }

  @keyframes translate32
  {
    0%,100%{
    }
  
    50%{
      -webkit-transform: translate(100%,0%);
      -ms-transform: translate(100%,0%);
      -o-transform: translate(100%,0%);
      transform:  translate(100%,0%);
    }
  }

  @keyframes translate50
  {
    0%,100%{
    }
  
    50%{
      -webkit-transform: translate(-100%,0%);
      -ms-transform: translate(-100%,0%);
      -o-transform: translate(-100%,0%);
      transform:  translate(-100%,0%);
    }
  }

  @keyframes translate59
  {
    0%,100%{
    }
  
    50%{
      -webkit-transform: translate(100%,-100%);
      -ms-transform: translate(100%,-100%);
      -o-transform: translate(100%,-100%);
      transform:  translate(100%,-100%);
    }
  }
  
  @keyframes translate68
  {
    0%,100%{
    }
  
    50%{
      -webkit-transform: translate(0%,-100%);
      -ms-transform: translate(0%,-100%);
      -o-transform: translate(0%,-100%);
      transform:  translate(0%,-100%);
    }
  }
  @keyframes translate77
  {
    0%,100%{
    }
  
    50%{
      -webkit-transform: translate(-100%,-100%);
      -ms-transform: translate(-100%,-100%);
      -o-transform: translate(-100%,-100%);
      transform:  translate(-100%,-100%);
    }
  }

  #section2{
    width:35%;
    margin-right : 10%;
    float: right;
  }

  #ToDoList{
    font-size:20px;
  }

  #lank1{
    background-color:rgb(206, 255, 183);
    width:30px;
  } 
  #lank2{
    background-color:lightblue;
  }
  #lank3{
    background-color:rgb(255, 203, 211);
  }
  #lank4{
    background-color:rgb(255, 236, 149);
    width:30px;
  }
  input{
    font-size: 15px;
    height: 20px;
  }
  #ToDoList.memoplus{
    margin-left:20px;
  }
  